<div class="container">
    <h2 class="text-center">Reportes</h2>
<form>
    <div class="form-group form-inline">
        Búsqueda: 
        <i class="fas fa-search ml-2"></i>
        <input class="form-control ml-2" type="text" [formControl]="filter"/>
    </div>
</form>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Sitio Web</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pageStructure of pageStructures$ | async">
        <td><ngb-highlight [result]="pageStructure.baseURI | slice:0:60" [term]="filter.value"></ngb-highlight></td>
        <td class="d-flex">
          <button class="btn btn-info mr-3 boton-tabla" [routerLink]="['/estructura-pagina', pageStructure.baseURI]"
          title="Obtener el reporte de los elementos interactivos de la pagina">Reporte Elementos interactivos</button>
          <button class="btn btn-info mr-3 boton-tabla" [routerLink]="['/bad-smell-report', pageStructure.baseURI]"
          title="Obtener el reporte de bad smells de la pagina">Reporte Bad Smells</button>
          <button class="btn btn-danger mr-3 boton-tabla" (click)="deleteStructure(pageStructure._id)"
          title="Eliminar la estructura de la pagina">
            <i class="far fa-trash-alt"></i>
          </button>
          <button class="btn btn-danger boton-tabla" (click)="deleteStructureEvents(pageStructure.baseURI)"
          title="Eliminar los eventos de la pagina">
            Eliminar Eventos
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>