.container .btn-accesibles {
 float: right;
 font-size: 0.95rem;
}
span.badge {
    font-size: 15px;
}
.btn-interactivos {
    font-size: 0.80rem;  
}
.btn-interactivos span.badge {
    font-size: 12px;
}

.btn-pdf {
    float: inline-end;
    font-size: small;
}

.content {
    content-visibility: auto;
}

.msg-handlers {
    font-size: 14px;
}