<button class="btn btn-sm btn-outline-primary" (click)="open(mymodal)">{{ open_modal_btn }}</button>

<ng-template #mymodal let-modal>
    <div class="modal-header">
      <h6 class="modal-title" id="modal-basic-title">{{ modal_title }}</h6>
      <button type="button" class="btn btn-danger btn-sm pl-3 pr-3" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <ng-content></ng-content>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>
